body {
    font-family: sans-serif;
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

form {
    padding: 2rem;
    display: block;
}

h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form label {
    display: block;
    padding-bottom: 0.5rem;
}

form input {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
}

.btn {
    margin-top: 2rem;
    margin-bottom: 0;
}

.card {
    display: inline-block;
    margin: 10px;
}

.card-body {
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.card p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

.fixed-top {
    top: 15px;
    left: 0;
}

.fixed-bottom {
    bottom: 15px;
    left: 0;
}

.fixed {
    position: absolute;
    text-align: center;
    width: 100%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}